{% extends "layout.jinja2" %}

{% set app_package = app_package|default('atramhasis', true) %}
{% set copyright_year = copyright_year|default('2016-2017') %}

{% block html_title %}Add conceptscheme{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    {% if success == True %}
        <div class="bgcontainer">
            <div class="row">
                <h1>Conceptscheme created succesfully</h1>
                <p>The server is restarting. You will be redirected to home in <span id="secs">10</span> seconds.</p>
                <script>
                  const secsElem = document.getElementById('secs');
                  let seconds = parseInt(secsElem.innerText, 10);
                  setInterval(() => {
                    seconds -= 1;
                    secsElem.innerText = seconds;
                    if (seconds === 0) {
                      window.location = "/"
                    }
                  }, 1000)
                </script>
            </div>
        </div>
    {% else %}
        <div class="bgcontainer">
            <div class="row">
                <h1>Add Conceptscheme</h1>
                <div>
                    <form method="post" id="cs-form">
                        <label for="scheme_name">name:<input id="scheme_name" type="text" name="scheme_name"></label>
                        <input type="hidden" id="uri-hidden-input" name="scheme_uri"/>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <p>If you create a conceptscheme with this name, the uri will be <a href="#" id="uri-preview">
                    http://stad.gent/id/concepts/</a></p>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block subfooter %}
{% endblock %}

{% block footer %}

{% endblock %}

{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/11.0.0/validator.min.js"
            integrity="sha256-LpPQoPEHMnUB78PFjCNTqc9BTg59UiIDBOhLYa05azc=" crossorigin="anonymous"></script>
    <script>
      (() => {
        const prevEl = document.getElementById('uri-preview');
        const nameInput = document.getElementById('scheme_name');
        const uriInput = document.getElementById('uri-hidden-input');
        const baseUri = 'http://stad.gent/id/concepts/';
        const clean = (value) => validator.escape(value).split(' ').join('_');
        nameInput.onkeyup = () => {
          prevEl.innerText = baseUri + clean(nameInput.value);
        };

        const csForm = document.getElementById('cs-form');
        csForm.onsubmit = function () {
          uriInput.value = baseUri + clean(nameInput.value);
          return true;
        }
      })()
    </script>
{% endblock %}

